{{ partial "head.html" . }}
    <article class="content">
      <header id="landing-wrapper" class="gradient" style="background: linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.75)), url('/images/menu.jpg');">
	<h1 id="title">Notes</h1>
      <i>Thoughts on art, technology, and other topics.</i>
      </header>
      {{ $paginator := .Paginate (where .Data.Pages "Section" "notes") }}
      {{ range $paginator.Pages }}
        {{ .Render "li"}}
      {{ end }}
      {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}">Previous</a>
      {{ end }}
      {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}" class="right">Next</a>
      {{ end }}
    </article>
{{ partial "footer.html" . }}
