{{ partial "head.html" . }}
    <article class="content">
      <header id="landing-wrapper" class="gradient" style="background: linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.75)), url('/images/projects.jpg');">
	<h1 id="title">Projects</h1>
      <i>Various open source projects to which I have contributed.</i>
      </header>
        {{ $paginator := .Paginate (where .Data.Pages "Section" "projects") }}
        {{ range $paginator.Pages }}
          {{ .Render "project"}}
        {{ end }}
      {{ if $paginator.HasPrev }}
          <a href="{{ $paginator.Prev.Url }}">Previous</a>
      {{ end }}
      {{ if $paginator.HasNext }}
          <a href="{{ $paginator.Next.Url }}">Next</a>
      {{ end }}
    </article>
{{ partial "footer.html" . }}
