/**** VARIABLES ****/

@black: #111;
@dark-gray: #444;
@light-gray: #AAA;
@white: #EEE;

/**** FONTS ****/

@font-face {
    font-family: 'Glacial Indifference';
    src: url('/fonts/GlacialIndifference-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Glacial Indifference Bold';
    src: url('/fonts/GlacialIndifference-Bold.woff') format('woff');
}

/**** STYLE ****/

body {
  line-height: 1.5em;
  margin: 0;
  color: @black;
  background-color: @black;
  font-family: 'Glacial Indifference', 'Trebuchet MS', sans-serif;
  font-size:18px;
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-family: 'Glacial Indifference Bold', 'Trebuchet MS', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    list-style: 0.8em;
    padding: 0;
}

html {
  padding: 0;
}

a {
  color: @black;
}

a:visited {
  color: @dark-gray;
}

header {
    font-size: 1.25em;
}

article h1 {
    font-size: 1.75em;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
}

.video object, .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main {
  background-color: @white;
}

::selection {
    color: @white;
    background-color: @dark-gray;
}

.content, .inner-footer {
  margin: 0 auto 0 auto;
  width: 36em;
  max-width: 90%;
  padding: 2.5% 5% 2.5% 5%;
  position: relative;
}

/* FOOTER */

.footer {
  background-color: @black;
  color: @white;
  ::selection {
      background-color: @light-gray;
  }
}

.footer h2 {
  width: 100%;
}

.footer a {
  color: @white;
}

a.title {
  text-decoration: none;
  padding-bottom: 1.5em;
}

.inline-list {
  list-style: none;
  padding: 0;
  width: 100%;
  li {
      display: inline;
      padding-right: 0.5em;
  }
}
