body {
  line-height: 1.5em;
  margin: 0;
  color: #111111;
  background-color: #111111;
  font-family: 'Trebuchet MS', 'Lucida Grande',
      'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

html {
  padding: 0;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
}

.video object, .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main {
  background-color: #EEEEEE;
}

.content, .inner-footer {
  margin: 0 auto 0 auto;
  width: 36em;
  max-width: 90%;
  padding: 1.5em 5% 1.5em 5%;
}

/* FOOTER */

.footer {
  background-color: #111111;
  color: #EEEEEE;
}

.footer h2 {
  width: 100%;
}

.inner-footer {
  display: flex;
  flex-flow: row;
  flex-flow: row wrap;
  align-content: flex-end;
}

.footer-content {
  flex: 1 1 auto;
  width: 50%;
}

.footer a {
  color: #EEEEEE;
}

a.title {
  text-decoration: none;
  padding-bottom: 1.5em;
}

@media (max-width: 680px) {
  .footer-content {
    width: 100%;
  }
}
