/**** VARIABLES ****/

@black: #101010;
@dark-gray: #444;
@light-gray: #AAA;
@white: #EFEFEF;

/**** FONTS ****/

@font-face {
    font-family: 'Glacial Indifference';
    src: url('/fonts/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('/fonts/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('/fonts/GlacialIndifference-Italic.otf') format('opentype');
    font-style: italic;
}

/***** REUSABLE STYLES ****/

.center {
    text-align: center;
}

.gray {
    color: @dark-gray;
}

.black {
    color: @black;
    background-color: @white;
}

.white {
    color: @white;
    background-color: @black;
}

.right-text {
    text-align: right;
}

/**** STYLE ****/

body {
  line-height: 1.45;
  margin: 0;
  color: @black;
  background-color: @black;
  font-family: 'Glacial Indifference', 'Trebuchet MS', sans-serif;
  font-size: 20px;
  min-width: 300px;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .grid {
    grid-template-columns: 100%!important;
  }
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
}

h2 {
   color: @dark-gray;
   margin: 5em 0 0.4rem 0;
   font-size: 1rem;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 2px;
}

h3 {
  font-size: 1rem;
  color: @dark-gray;
  a, a:visited {
    color: @dark-gray;
  }
}

html {
  padding: 0;
}

a, a:visited {
  color: @black;
}

blockquote {
  color: @dark-gray;
}

header {
    position: relative;
    padding: 2em 0;
    h1 {
      font-size: 1.75em;
      line-height: 1.75em;
      margin: 2rem 0 0.5rem 0;
    }
    time {
      display: inline-block;
    }
}

article {
  p {
    margin: 1em 0;
    width: 32em;
    max-width: 100%;
  }
  blockquote {
    margin: 1em 2em;
    width: 30em;
    max-width: 90%;
  }
  ol, ul {
    width: 30em;
    max-width: 100%;
    margin: 1em 0;
    padding-left: 2em;
  }
}

code {
  font-family: monospace;
  font-size: 0.7em;
}

pre {
  .white;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 1em;
  font-size: 0.7em;
  code {
    overflow-wrap: normal;
    overflow: hidden;
    white-space: pre;
    font-size: 1.0em;
  }
}

img {
  width: 100%;
}

canvas {
  width: 100%;
  height: 100px;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
}

.video object, .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main {
    .black;
}

::selection {
    color: @white;
    background-color: @dark-gray;
}

.content, .inner-footer {
  margin: 0 auto 0 auto;
  max-width: 64rem;
  padding: 2.5% 5%;
  position: relative;
}

.logo {
  position: relative;
  height: 3em;
  width: 3em;
  margin: auto;
  padding: 1em 0 0;
  a {
    .white;
    position: absolute;
    left: 0;
    padding: 0.75em;
    border-radius: 1.5em;
    text-decoration: none;
  }
}

.gradient {
  display: table;
  width: 100%;
  color: white;
  background-size: cover!important;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
}

.card {
  border: 2px @dark-gray solid;
  padding: 1em;
  hr {
    margin: 2em 0 0 0;
  }
  a, h3 {
    text-decoration: none;
  }
  &:hover {
    border: 2px @black solid;
    background-color: @black;
    a, h3 {
      color: @white;
    }
  }
}

/* FOOTER */

.footer {
  .white;
  ::selection {
      background-color: @light-gray;
  }
}

.footer h2 {
  width: 100%;
}

.footer a {
  .white;
}

a.title {
  text-decoration: none;
  padding-bottom: 1.5em;
}

.inline-list {
  list-style: none;
  padding: 0;
  width: 100%;
  li {
      display: inline-block;
      padding: 0 0.25em;
      min-width: 4em;
  }
}
