/**** VARIABLES ****/

@black: #111;
@dark-gray: #444;
@light-gray: #AAA;
@white: #EEE;

/**** FONTS ****/

@font-face {
    font-family: 'Glacial Indifference';
    src: url('/fonts/GlacialIndifference-Regular.woff') format('woff');
}

/***** REUSABLE STYLES ****/

.center {
    text-align: center;
}

.black {
    color: @black;
    background-color: @white;
}

.white {
    color: @white;
    background-color: @black;
}

.right-text {
    text-align: right;
}

/**** STYLE ****/

body {
  line-height: 1.6em;
  margin: 0;
  color: @black;
  background-color: @black;
  font-family: 'Glacial Indifference', 'Trebuchet MS', sans-serif;
  font-size: 24px;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

h1, h2, h3, h4, h5, h6 {
    list-style: 0.8em;
    padding: 0;
}

html {
  padding: 0;
}

a {
  color: @black;
}

blockquote, a:visited {
  color: @dark-gray;
}

header {
    position: relative;
    .center;
    .white;
    padding: 2em 0;
    h1 {
      font-size: 1.75em;
      line-height: 1.75em;
      padding: 0 0.75em;
    }
}

article {
  p, blockquote {
    margin: 1em auto;
    width: 85%;
  }
  ol, ul {
    width: 85%;
    margin: auto;
  }
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
}

.video object, .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main {
    .black;
}

::selection {
    color: @white;
    background-color: @dark-gray;
}

.content, .inner-footer {
  margin: 0 auto 0 auto;
  width: 32em;
  max-width: 90%;
  padding: 2.5% 5% 2.5% 5%;
  position: relative;
}

.logo {
  position: relative;
  height: 3em;
  width: 3em;
  margin: auto;
  padding: 1em 0 0;
  a {
    .white;
    position: absolute;
    left: 0;
    padding: 0.75em;
    border-radius: 1.5em;
    text-decoration: none;
  }
}

/* FOOTER */

.footer {
  .white;
  ::selection {
      background-color: @light-gray;
  }
}

.footer h2 {
  width: 100%;
}

.footer a {
  .white;
}

a.title {
  text-decoration: none;
  padding-bottom: 1.5em;
}

.inline-list {
  list-style: none;
  padding: 0;
  width: 100%;
  li {
      display: inline;
      padding: 0 0.25em;
  }
}
