<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <!-- Twitter cards. -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@CarlColglazier" />

    <!-- OpenGraph -->
    <meta name="og:title" content="{{ .Title }}">
    <meta name="og:description" content="{{ .Summary }}" />
    {{ if isset .Params "image" }}
      <meta property="og:image" content="{{ printf "%s/%s" "images" (index .Params "image") | absURL }}" />
    {{ end }}

    <!-- Other metadata -->
    <meta name="description" content="{{ .Summary }}" />

    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}  

    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <style>
     @import url('https://fonts.googleapis.com/css?family=Lato:100,400:700&display=swap');
    </style>
    {{ $style := resources.Get "style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <!-- <link href="/css/style.css" rel="stylesheet"> -->
  </head>
  <body>
    <div class="black main">
      <navigation>
        <div class="name-title"><small>Carl Colglazier</small></div>
        <ul class="inline-list center">
          {{ range .Site.Menus.main }}<li><a href="{{ .URL }}">{{ .Name }}</a></li>{{ end }}
        </ul>
      </navigation>
      {{ block "main" . }}
      {{ end }}
      {{ if .IsPage }}
        <footer class="footer">
          <p class="right-text"><small>Created by Carl Colglazier <span>{{ index (slice "❤️" "💙" "💛") (mod (index (.Title) 0) 3) }}</span></small></p>
        </footer>
      {{ end }}
    </div>
  </body>
</html>
