<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <!-- Twitter cards. -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@CarlColglazier" />

    <!-- OpenGraph -->
    <meta name="og:title" content="{{ .Title }}">
    <meta name="og:description" content="{{ .Summary }}" />
    {{ if isset .Params "image" }}
      <meta property="og:image" content="{{ printf "%s/%s" "images" (index .Params "image") | absURL }}" />
    {{ end }}

    <!-- Other metadata -->
    <meta name="description" content="{{ .Summary }}" />

    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="/css/style.css?{{ now.Unix }}" rel="stylesheet">

    <base href="{{ .Site.BaseURL }}">

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  </head>
  <body>
    <div class="black main">
      {{ partial "header.html" . }}
      {{ block "main" . }}
      {{ end }}
      {{ if .IsPage }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>
  </body>
</html>
