{{ partial "title.html" . }}
{{ if or (eq (relURL .URL) ("/index/" | safeHTML)) (eq (relURL .URL) ("/" | safeHTML)) }}
<center><p>|
{{ range .Site.Menus.featured }}
<a href="{{ .URL }}">{{ .Name }}</a> |
{{ end }}
</p></center>
{{ end }}
{{ .Content }}
{{ if eq .Section "notes" }}
{{ if .PrevInSection }}
<div class="card">
  <p><a href="{{.PrevInSection.Permalink}}">Previous: {{.PrevInSection.Title}}</a></p>
</div>
{{ end }}
{{ if .NextInSection }}
<div class="card">
  <p><a href="{{.NextInSection.Permalink}}" class="right">Next: {{.NextInSection.Title}}</a></p>
</div>
{{ end }}
{{end}}
