{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<article class="content h-entry">
  {{ partial "title.html" . }}
  <div class="entry e-content">
    {{.Content}}
  </div>
  <div id="comments">
  </div>
  <script>
   var permalink = "{{ .Page.Permalink }}"
   console.log('https://webmention.io/api/links.jf2?target=' + permalink);
   fetch('https://webmention.io/api/links.jf2?target=' + permalink)
       .then((response) => {
	   return response.json();
       }).then((json) => {
	   console.log(json.children.length);
       });
  </script>
</article>
{{ end }}
