{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<article class="content h-entry">
  {{ partial "title.html" . }}
  <div class="entry e-content">
    {{.Content}}
  </div>
	<div class="bio">
		<hr />
		{{ partial "bio.html" . }}
	</div>
  <div id="comments">
      <h3>Mentions</h3>
      <form action="https://webmention.io/carlcolglazier.com/webmention" method="POST">
	  <input class="url" type="url" name="source" />
	  <input class="url" type="url" name="target" value="{{.Page.Permalink}}" style="display: none;" />
	  <input class="submit button" type="submit" value="Submit Webmention" />
      </form>
  </div>
  <script>
   var permalink = "{{ .Page.Permalink }}"
   fetch('https://webmention.io/api/links.jf2?target=' + permalink)
       .then((response) => {
	   return response.json();
       }).then((json) => {
	   if (json.children.length > 0) {
	       console.log(json.children);
	       var list = document.createElement("ul");
	       for (const i in json.children) {
		   var child = json.children[i];
		   console.log(child);
		   var element = document.createElement("li");
		   var link = document.createElement("a");
		   link.textContent = child["url"];
		   link.href = child["url"];
		   element.appendChild(link);
		   list.appendChild(element);
	       }
	       var commentsNode = document.getElementById("comments");
	       commentsNode.appendChild(list);
	   };
       });
  </script>
</article>
{{ end }}
