html {
		font-size: 20px;
}

body {
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    line-height: 1.4;
    color: #000;
    background-color: #FFF;
    margin: 0;
}

.content {
		width: 48rem;
		max-width: 100%;
		margin: 10rem auto;
}

.entry p, ul, dl {
		width: 30rem;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

h2, h3, h4, h5, h6 {
    font-weight: 600;
    padding: 0;
}

time {
    font-size: 0.75rem;
}

figure {
		margin: 0;
}

figcaption p {
		font-size: 0.75rem;
}

.header {
		display: inline-block;
		width: 100%;
		background-color: #000;
		color: #FFF;
}

#logo {
		font-family: 'Futura LT', sans-serif;
		background-color: #000;
		color: #FFF;
		padding: 1rem;
		text-decoration: none;
		text-align: center;
		margin-left: -25px;
		position: absolute;
		left: 50%;
		top: 1rem;
		border-style: solid;
		border-color: #FFF;
		border-width: 2px;
		border-radius: 2rem;
		line-height: 29.333px;
}

#logo span {
		display: none;
}

#logo::after {
		content: "CC";
}

.header navigation {
		display: block;
		text-align: right;
		max-width: 40rem;
		margin: 0 auto;
}

.header navigation ul {
		float: right;
}

.header navigation li {
		display: inline-block;
		margin: 1rem;
}

.header navigation li a {
		font-family: 'Futura LT', sans-serif;
}

div.bio {
		margin-top: 3rem;
}

.bio {
    display: inline-block;
}

.bio img {
    max-width: 10rem;
		margin-right: 2rem;
		float: right;
}

.paginator {
    display: flex;
    justify-content: space-between;
}

.right {
    float: right;
}

a {
    color: inherit;
}

p {
    margin-bottom: 2rem;
}

img {
    width: 100%;
    max-width: 960px;
}

pre {
    overflow-y: hidden;
    overflow-x: auto;
    padding: 1rem;
    border-left: solid;
		tab-size: 4;
		-moz-tab-size: 4;
		-o-tab-size: 4;
		-webkit-tab-size: 4;
}

pre code {
    overflow-wrap: normal;
    overflow: hidden;
    white-space: pre;
    font-size: 0.75rem;
		tab-size: 4;
}

table {
    text-align: left;
    border-collapse: collapse;
}

table th {
    border-right: 1.5rem solid transparent;
    border-bottom: 0.1rem solid;
}

table td {
    padding-right: 1rem;
    border-right: 1.5rem solid transparent;
}

.card {
    border-left: solid;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.name-title {
    visibility: hidden;
}

.footnotes {
		font-size: 0.7rem;
}

img.photo {
		border-radius: 40%;
		padding: 1em;
}

/* Small screens */
@media only screen and (max-width: 640px) {
    .name-title {
				display: none;
    }

		.header navigation ul {
				float: none;
		}

    .inline-list {
				padding: 0;
    }

    .inline-list li {
				padding-left: 0.75rem;
				padding-right: 0.75rem;
    }

		.bio img {
				max-width: 5rem;
				padding: 0rem;
		}

		p {
				margin-bottom: 0rem;
		}
}

@media only screen and (max-width: 70rem) {
    .content {
				margin: 0 auto;
				padding: 0 1rem;
    }

		.main navigation {
				text-align: center;
		}

		.main .menu {
				margin-top: 5rem;
		}
}
