html {
		font-size: 20px;
}

body {
    font-family: 'Amiri', serif;
    font-weight: normal;
    line-height: 1.7;
    color: #111;
    background-color: #EEE;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, navigation {
		font-family: 'Lato', serif;
}

h1 {
    font-weight: 100;
    font-size: 3.5rem;
		font-variant-caps: all-small-caps;
}

h2, h3, h4, h5, h6 {
    font-weight: 800;
    padding: 0;
		font-variant: small-caps;
}

time {
    font-size: 0.75rem;
}

.main navigation {
    position: fixed;
    width: 10rem;
    top: 0px;
    left: 0px;
    overflow: auto;
    overflow-x: hidden;
    margin: 12rem 0 0 5rem;
}

.main navigation ul {
    list-style: none;
    padding: 0;
}

.main navigation li, label.toggle {
    line-height: 2.5rem;
    border-bottom: 2px solid #444;
}

.main navigation a, label.toggle {
    padding-left: 1rem;
    color: #444;
    text-decoration: none;
    border-bottom: none;
    display: block;
		background: none;
}

.main navigation a:hover, label.toggle  {
    background-color: #444;
    color: #FFF;
}

.bio {
    display: inline;
}

.block {
    display: inline-block;
    vertical-align:top;
    max-width: 20rem;
}

.bio img {
    max-width: 15rem;
		padding-right: 1rem;
}

.paginator {
    display: flex;
    justify-content: space-between;
}

.right {
    float: right;
}

.content {
    padding-bottom: 1rem;
    margin-left: 20rem;
    margin-right: 5rem;
}

.entry {
   /* max-width: 30rem;*/
}

.entry p, dl, ul, li, dd {
    max-width: 30rem;
}

.footnotes p, dl, ul, li {
    max-width: 100%;
}


a {
    color: inherit;
		text-decoration: none;
		--color: #111111;
		background-image: linear-gradient(var(--color) 0%, var(--color) 100%);
    background-repeat: repeat-x;
		background-position: 0 1.2rem;
    background-size: 2px 2px;
}

p {
    margin-bottom: 2rem;
}

img {
    width: 100%;
    max-width: 960px;
}

pre {
    overflow-y: hidden;
    overflow-x: auto;
    padding: 1rem;
    border-left: solid;
}

pre code {
    overflow-wrap: normal;
    overflow: hidden;
    white-space: pre;
    font-size: 0.75rem;
}

table {
    text-align: left;
    border-collapse: collapse;
}

table th {
    border-right: 1.5rem solid transparent;
    border-bottom: 0.1rem solid;
}

table td {
    padding-right: 1rem;
    border-right: 1.5rem solid transparent;
}

.card {
    border-left: solid;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.grid {
    display: grid;
}

.grid1 {
    grid-column: 1;
}

.grid2 {
    grid-column: 2;
    justify-self: end;
}

.name-title {
    visibility: hidden;
}



@media only screen and (max-width: 640px) {
    .name-title {
	display: none;
    }

    .inline-list {
	padding: 0;
    }

    .inline-list li {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
    }
}

@media only screen and (min-width: 70rem) {
    .grid1 {
	width: 30rem;
    }

    .grid2 {
	width: 20rem;
    }

    label.toggle, #drop {
	display: none;
    }
}
@media only screen and (max-width: 70rem) {
    .main navigation {
	position: relative;
    }

    .content {
	margin: 0 auto;
	padding: 0 1rem;
    }
    
    .grid1, .grid2 {
	width: 100%;
    }

    .grid2 {
	grid-column: 1;
    }

    .main navigation {
	margin: 0;
    }

    [id^=drop] {
	display: none;
    }

    .toggle + a,
    .menu {
	display: none;
    }

    [id^=drop]:checked + ul {
	display: block;
    }

    label.toggle {
	text-align: center;
    }
}
