<div class="vcard bio">
    <div class="block">
	<img class="photo u-photo" src="/images/portrait.jpg" alt="A portrait of Carl Colglazier" />
	<a rel="author" href="https://carlcolglazier.com" class="u-url u-uid">
	    <h3 class="fn">Carl Colglazier</h3>
	</a>
    </div>
    <div class="block">
	<p class="p-note">Rooted in my dual education in computer science and communication, <strong>I make meaningful information accessible</strong> with new media, social computing, and computational social science. My media background is rooted in documentary filmmaking and this perspective continues to influence my approach to research and writing.</p>
    </div>
    <div class="block">
	<ul>
	    <li><a class="u-url u-uid" href="https://carlcolglazier.com">Website</a></li>
	    <li class="email"><a href="mailto:carl@carlcolglazier.com">carl@carlcolgazier.com</a></li>
	    <li class="twitter" rel="me"><a href="https://twitter.com/carlcolglazier">Twitter</a></li>
	    <li class="youtube" rel="me"><a href="https://youtube.com/carlcolglazier">YouTube</a></li>
	    <li class="github" rel="me"><a href="https://github.com/carlcolglazier">GitHub</a></li>
	</ul>
    </div>
</div>

