<div class="vcard bio">
	<img class="photo u-photo" src="/images/portrait.jpg" alt="A portrait of Carl Colglazier" />
	<p>I'm <a rel="author" href="https://carlcolglazier.com" class="u-url u-uid">Carl Colglazier</a>.</p>
		<p class="p-note"> Rooted in a dual education in computer science and communication, <strong>I make meaningful information accessible</strong> with new media, social computing, and computational social science. I also post on <span class="twitter" rel="me"><a href="https://twitter.com/carlcolglazier">Twitter</a></span>, <span class="youtube" rel="me"><a href="https://youtube.com/carlcolglazier">YouTube</a></span>, and <span class="github" rel="me"><a href="https://github.com/carlcolglazier">GitHub</a></span>.</p>
</div>

