    </section>
    <footer class="footer">
      <section class="inner-footer">
        <h2><a href="/" class="title">Carl Colglazier</a></h2>
        <section class="footer-content">
          <h3>Notes</h3>
          <ul>
            {{ range where .Site.Recent "Section" "notes" }}
              {{ .Render "li"}}
            {{ end }}
          </ul>
        </section>
        <section class="footer-content">
          <h3>Links</h3>
          <ul>
            <li>
              <a href="https://twitter.com/carlcolglazier">
                Twitter
              </a>
            </li>
            <li>
              <a href="https://youtube.com/carlcolglazier">
                YouTube
              </a>
            </li>
            <li>
              <a href="https://github.com/carlcolglazier">
                Github
              </a>
            </li>
          </ul>
        </section>
      </section>
    </footer>
  </body>
</html>
