{{ define "meta" }}
<!-- Meta data -->
<link rel="me" href="https://twitter.com/carlcolglazier" />
<link rel="me" href="https://github.com/carlcolglazier" />
<link rel="profile" href="http://microformats.org/profile/hcard">
{{ end }}


{{ define "main" }}
<article class="content">
    {{ partial "title.html" . }}
    {{ partial "bio.html" . }}
    <div class="grid">
	<div class="grid1">
	    {{.Content}}
	</div>
	<div>
	    <h2>Latest Notes</h2>
	    {{ $paginator := .Paginate (where .Data.Pages "Section" "notes") }}
	    {{ range first 4 $paginator.Pages }}
	    {{ .Render "li"}}
	    {{ end }}
	</div>
    </div>
</article>
{{ end }}
